*****London Bike Sharing data manipulation using python*****

In [1]:
#Importing the libraries required

import pandas as pd

In [2]:
#importing the dataset

bikes = pd.read_csv(r"E:\Own_Project\London bike sharing dataset\archive (8)\london_merged.csv")

In [3]:
#basic info

bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
#first 5 rows

bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [5]:
#no of columns and rows

bikes.shape

(17414, 10)

In [6]:
#Dateset

bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [7]:
#counting the number of unique values in weather_code column

bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [8]:
#counting the number of unique values in season column

bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [9]:
#creating the dictionary to rename the column names

bikes_dict ={
    'timestamp' : 'time',
    'cnt' : 'count',
    't1' : 'temperature_real',
    't2' : 'temperature_feel',
    'hum': 'humidity',
    'wind_speed' : 'wind_speed_kmp',
    'weather_code' : 'weather',
    'is_holiday' : 'is_holiday' ,
    'is_weekend' : 'is_weekend',
    'season': 'season'
    }
#renaming the column names by replacing the original name by dictionary created

bikes.rename(bikes_dict , axis=1, inplace=True)

In [10]:
#changing the humidity value to percentage by dividing the values by 100 ie.(value/100)

bikes.humidity =  bikes.humidity / 100

In [11]:
#to find unique values in the season column

bikes['season'].unique()

array([3., 0., 1., 2.])

In [12]:
#to find unique values in the weather column

bikes['weather'].unique()

array([ 3.,  1.,  4.,  7.,  2., 26., 10.])

In [13]:
#creating the dictionary to give the actual season name instead of integer

season_dict = {
    '0.0' : 'spring',
    '1.0' : 'summer',
    '2.0' : 'autumn',
    '3.0' : 'winter',
}

# creating the dictionary to give the actual weather instead of integer

weather_dict= {
    '1.0': 'clear',
    '2.0' : 'scattered cloud',
    '3.0' : 'broken clouds',
    '4.0' : 'cloudy',
    '7.0' : 'rain',
    '10.0' : 'rain with thunderstrom',
    '26.0': 'snowfall'
}

In [14]:
#to know the data type of each column

bikes.dtypes

time                 object
count                 int64
temperature_real    float64
temperature_feel    float64
humidity            float64
wind_speed_kmp      float64
weather             float64
is_holiday          float64
is_weekend          float64
season              float64
dtype: object

In [15]:
#changing the season data type from float to str

bikes.season = bikes.season.astype('str')

#changing the weather data type from float to str

bikes.weather = bikes.weather.astype('str')

In [16]:
#mapping the season_dict to season column

bikes.season = bikes.season.map(season_dict)

#mapping the season_dict to weather column

bikes.weather = bikes.weather.map(weather_dict)

In [17]:
#cheaking whether the mapping values are updated to the dataframe

bikes.head(20)

,time,count,temperature_real,temperature_feel,humidity,wind_speed_kmp,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,clear,0.0,1.0,winter
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,cloudy,0.0,1.0,winter
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,cloudy,0.0,1.0,winter
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,cloudy,0.0,1.0,winter
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,broken clouds,0.0,1.0,winter
10,2015-01-04 10:00:00,528,3.0,-0.5,0.930,12.0,broken clouds,0.0,1.0,winter
11,2015-01-04 11:00:00,727,2.0,-1.5,1.000,12.0,broken clouds,0.0,1.0,winter
12,2015-01-04 12:00:00,862,2.0,-1.5,0.965,13.0,cloudy,0.0,1.0,winter
13,2015-01-04 13:00:00,916,3.0,-0.5,0.870,15.0,broken clouds,0.0,1.0,winter
14,2015-01-04 14:00:00,1039,2.5,0.0,0.900,8.0,broken clouds,0.0,1.0,winter
15,2015-01-04 15:00:00,869,2.0,-1.5,0.930,11.0,broken clouds,0.0,1.0,winter
16,2015-01-04 16:00:00,737,3.0,0.0,0.930,12.0,broken clouds,0.0,1.0,winter
17,2015-01-04 17:00:00,594,3.0,0.0,0.930,11.0,broken clouds,0.0,1.0,winter
18,2015-01-04 18:00:00,522,3.0,1.5,0.930,6.5,broken clouds,0.0,1.0,winter
19,2015-01-04 19:00:00,379,3.0,1.0,0.930,7.0,broken clouds,0.0,1.0,winter

In [18]:
#filtering the season column if needed

filter_spring =bikes[bikes['season'] == 'spring']

filter_winter =bikes[bikes['season'] == 'winter']

filter_summer =bikes[bikes['season'] == 'summer']

filter_autumn =bikes[bikes['season'] == 'autumn']

In [19]:
filter_summer

,time,count,temperature_real,temperature_feel,humidity,wind_speed_kmp,weather,is_holiday,is_weekend,season
3544,2015-06-01 00:00:00,226,10.0,7.5,0.670,19.5,clear,0.0,0.0,summer
3545,2015-06-01 01:00:00,114,10.0,8.0,0.670,18.0,clear,0.0,0.0,summer
3546,2015-06-01 02:00:00,65,9.0,6.5,0.735,16.0,clear,0.0,0.0,summer
3547,2015-06-01 03:00:00,34,9.0,6.5,0.735,16.0,clear,0.0,0.0,summer
3548,2015-06-01 04:00:00,51,9.0,6.5,0.710,17.0,clear,0.0,0.0,summer
...,...,...,...,...,...,...,...,...,...,...
14448,2016-08-31 19:00:00,2750,22.0,22.0,0.650,21.5,scattered cloud,0.0,0.0,summer
14449,2016-08-31 20:00:00,1515,21.0,21.0,0.690,23.0,scattered cloud,0.0,0.0,summer
14450,2016-08-31 21:00:00,1134,20.0,20.0,0.710,19.0,scattered cloud,0.0,0.0,summer
14451,2016-08-31 22:00:00,853,19.0,19.0,0.640,19.5,clear,0.0,0.0,summer
14452,2016-08-31 23:00:00,511,18.0,18.0,0.680,18.5,clear,0.0,0.0,summer

In [20]:
#Converting the time column from str to datetime

bikes.time = bikes.time.astype('datetime64[ns]')

In [30]:
bikes.dtypes

time                 object
count                 int64
temperature_real    float64
temperature_feel    float64
humidity            float64
wind_speed_kmp      float64
weather              object
is_holiday          float64
is_weekend          float64
season               object
Month                object
Day                  object
Year                  int64
dtype: object

In [22]:
#Extrating the month name from the time column by adding a new column

bikes['Month'] = bikes.time.dt.strftime('%B')

#Extrating the day name from the time column by adding a new column

bikes['Day'] = bikes.time.dt.strftime('%A')

#Extrating the year from the time column by adding a new column

bikes['Year'] = bikes.time.dt.year

In [31]:
#Writing the dataframe to excel to visuilize the data using power BI

bikes.to_excel('london_bikes_updated1.xlsx', sheet_name='london_bikes_data', index=False)

In [26]:
bikes.time = bikes.time.astype('str')